.call-to-action {
    background-color: red;
    width: -webkit-fill-available;
    height: 4rem;
    .child-element{
        
    }
}

* {
    color: green;
    margin: 0;
    padding: 0;
}

.invitationDiv {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}